.menu-container{
    background-color: rgba(241, 242, 247, 0.75);
    width: 280px;
    height: 1240px;
}
.title{
    margin-left: 60px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
}
.common-p{
    display: flex;
}
.common-p{
    margin-bottom: 10px;
    margin-left: 20px;
    padding-top: 14px;
    border-radius: 10px;
    width: 220px;
    font-size:13px;
}

.common-p img{
    width: 16px;
    height: 16px;
    margin-left: 40px;
    margin-right: 10px;
}

.common-p:hover{
    color: #2D5BFF;
    background-color: lightgrey;
}