.alert-info{
    width:910px;
    margin-left: 32px;
    border-left: 2px solid #9D8506;
}

.sale-title{
    margin-top: 40px;
    margin-left: 32px;
    font-size: 18px;
}

.alert-p{
    color: #9D8506;
}